body {
    margin: 0;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1 {
    background-image: url("https://staticg.sportskeeda.com/editor/2026/02/4f17c-17701162454687-1920.jpg");
}

.bg2 {
    background-image: url("https://pbs.twimg.com/media/G9WjtvTWUAAO_xF?format=jpg&name=4096x4096");
}

.black-block {
    height: 50vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.block-message {
    color: white;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

.message {
    color: black;
    font-size: 24px;
    text-align: center;
}