body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#balloon {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: width 0.2s, height 0.2s;
}